<div style="text-align: center; max-width: 600px; margin: 0 auto; padding: 20px; font-family: Arial, sans-serif;">
    <h1 style="color: #333; margin-bottom: 30px;">Welcome, <%= locals.username %>!</h1>
    <p style="margin-bottom: 50px; font-size: 18px; line-height: 1.6; color: #666;">You have just created an account. To confirm your email and complete registration, please follow the link:</p>
    <a href="<%= activationLink %>" style="background-color: #2c64ef; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 12px;">Confirm email</a>
    <p style="margin-top: 50px; font-size: 18px; line-height: 1.6; color: #666;">Rick-n-Morty App</p>
</div>
